
code/__pycache__/augustin.cpython-39.pyc
*.pyc
*.pyc
code/__pycache__/augustin.cpython-39.pyc
code/__pycache__/fenetreQT.cpython-39.pyc
data/map.jpg
/.spyproject
/code/.spyproject
/code/__pycache__
/code/__pycache__
/code/__pycache__
/code/.spyproject
data/map.jpg
data/map.jpg
